{% extends 'candidates/base.html' %}
{% load static %}

{% block content %}

<!-- One -->
<section id="One" class="wrapper style3" style="background-image:url({% static 'images/bg.jpg' %})">
    <div class="inner">
        <header class="align-center">
            <p>Edit an exixitng candidtae</p>
            <h2>Candidates</h2>
        </header>
    </div>
</section>

<!-- Main -->
<div id="main" class="container">
    <form method="post" action="{% url 'candidate_edit' pk %}">
          {% csrf_token %}
            <div class="row uniform">
                <div class="10u 12u$(small)" style="text-align: center">
                    {{ form.as_p }}
                </div>
                <div class="2u$ 12u$(small)">
            
                </div>
            </div>
            <div>
            <input  type="submit" value="Edit" class="buttom special" />
            </div>
        </form>
</div>

{% endblock %}